body {
  margin: 0;
  padding: 0;
  background-image: url("img/halloween.jpg");
  overflow: hidden;
  position: relative;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.contain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login,
.cadastrar {
  display: flex;
  flex-direction: column;
  border: 1px solid #ff6600;
  padding: 8vh;
  border-radius: 10px;
  margin-top: 7vw;
  justify-content: center;
  backdrop-filter: blur(10px);
  background-color: rgba(223, 223, 223, 0.056);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#error-message {
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  font-size: small;
}

#C_error-message {
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  font-size: small;
}

#nome,
#password,
#C_nome,
#C_password {
  width: 100%; /* Mantendo a mesma proporção em relação à largura do contêiner pai */
  height: 22px; /* Mantendo a mesma proporção em relação à largura da tela */
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-radius: 8px;
}

#name,
#senha,
#C_name,
#C_senha {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
}

.login h2,
.cadastrar h2 {
  text-align: center;
  color: #ff6600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#send,
#C_send {
  background-color: #ff6600;
  border-radius: 8px;
  color: aliceblue;
  height: 28px; /* Mantendo a mesma proporção em relação à largura da tela */
  width: 55%; /* Mantendo a mesma proporção em relação à largura do contêiner pai */
  border: #f4af82;
  margin-top: 2vh;
  cursor: pointer;
  margin-left: 45px;
}

#text_cadastro {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px; /* Mantendo a mesma proporção em relação à largura da tela */
  text-align: center;
  margin-top: 2vw; /* Mantendo a mesma proporção em relação à largura da tela */
  color: aliceblue;
}

#text_cadastro a {
  color: #ff6600;
  cursor: pointer;
}

/* Estilos para dispositivos com largura de tela até 767px (telefones em orientação retrato) */
@media (max-width: 767px) {
  .login,
  .cadastrar {
    width: 90%;
    padding: 3vh;
    margin-top: 35%;
  }

  #nome,
  #password,
  #C_nome,
  #C_password {
    height: 30px;
  }

  #send,
  #C_send {
    height: 30px;
    margin-top: 10px;
  }

  #text_cadastro {
    font-size: 10px;
    margin-top: 10px;
  }
}

/* Estilos para dispositivos com largura de tela de 768px a 1023px (tablets em orientação retrato) */
@media (min-width: 768px) and (max-width: 1023px) {
  .login,
  .cadastrar {
    width: 70%;
    padding: 4vh;
    margin-top: 35%;
  }

  #nome,
  #password,
  #C_nome,
  #C_password {
    height: 35px;
  }

  #send,
  #C_send {
    height: 35px;
    margin-top: 15px;
  }

  #text_cadastro {
    font-size: 16px;
    margin-top: 15px;
  }
}

#C_text_login {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px; /* Mantendo a mesma proporção em relação à largura da tela */
  text-align: center;
  margin-top: 2vw; /* Mantendo a mesma proporção em relação à largura da tela */
  color: aliceblue;
}
#C_text_login a {
  color: #ff6600;
  cursor: pointer;
}
