body {
  margin: 10px;
  padding: 0;
  background-image: url("img/zyro-image.png");
  overflow: hidden;
  position: relative;
  background-size: 100vw 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
}
