body {
  margin: 10px;
  padding: 0;
  background-image: url("imghome/homephoto.jpg");
  overflow: hidden;
  position: relative;
  background-size: 100vw 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
}

.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7vh;
  margin-top: 14vh;
}

.fase1,
.fase2,
.fase3 {
  border: 1px solid #ff6600;
  padding: 8vh;
  border-radius: 10px;
  margin-top: -5vw;
  justify-content: center;
  align-items: center; /* Adicionado para centralizar o conteúdo verticalmente */
  backdrop-filter: blur(10px);
  background-color: rgba(223, 223, 223, 0.056);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  flex-direction: column;
  display: flex;
}

h1 {
  color: rgb(255, 123, 0);
  margin-top: -4vh;
  display: flex;
  justify-content: center;
  font-family: Creepster;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-size: 38px;
}

#titlle {
  color: rgb(255, 123, 0);

  margin-top: 8vh;

  font-family: Creepster;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-size: 38px;
  margin-left: 41%;
}

#jogador {
  color: rgb(241, 116, 0);
  display: flex;
  margin-top: 8vh;
  justify-content: center;
  font-family: Creepster;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  font-size: 38px;
  margin-left: 1vh;
}

#cemiterio {
  width: 75%;
}

#bruxas {
  width: 100%;
  border-radius: 15px;
}

.score-display {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1000;
}

#carrinho-btn {
  background-color: rgb(228, 120, 33);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.bt {
  background-color: #ff6600;
  border: #ff6600;
  color: aliceblue;
  border-radius: 10px;
  height: 40px;
  width: 120px;
  margin-top: 15px;
  cursor: pointer;
}
