body {
  margin: 0;
  padding: 0;
  background-image: url("img/halloween.jpg");
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.contain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login,
.cadastrar {
  display: flex;
  flex-direction: column;
  border: 1px solid #ff6600;
  padding: 5vh;
  border-radius: 10px;
  margin-top: 7vw;
  justify-content: center;
  backdrop-filter: blur(10px);
  background-color: rgba(223, 223, 223, 0.056);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#nome,
#password,
#C_nome,
#C_password {
  width: 100%; /* Mantendo a mesma proporção em relação à largura do contêiner pai */
  height: 2vw; /* Mantendo a mesma proporção em relação à largura da tela */
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-radius: 8px;
}

#name,
#senha,
#C_name,
#C_senha {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
}

.login h2,
.cadastrar h2 {
  text-align: center;
  color: #ff6600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#send,
#C_send {
  background-color: #ff6600;
  border-radius: 8px;
  color: aliceblue;
  height: 2vw; /* Mantendo a mesma proporção em relação à largura da tela */
  width: 60%; /* Mantendo a mesma proporção em relação à largura do contêiner pai */
  border: #f4af82;
  margin-top: 2vh;
  cursor: pointer;
  margin-left: 3vw;
}

#text_cadastro {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px; /* Mantendo a mesma proporção em relação à largura da tela */
  text-align: center;
  margin-top: 2vw; /* Mantendo a mesma proporção em relação à largura da tela */
  color: aliceblue;
}

#text_cadastro a {
  color: #ff6600;
  cursor: pointer;
}
